
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .intro {
    display: none
  }
}

body {
  background-color: #EDF6F9;
  font-family: Helvetica;
  color: #83C5BE;
  line-height: 32px; /*change how far the lines are from each other top and bottom*/
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* now you can change width and height and it will still be 50%*/
  padding-bottom: 1px;
  padding-top: 1px;
  object-fit: cover /* keeps the proportions good*/
  /*max-widht and max-height keep your aspect ratio*/
}
.container {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.intro {
  padding-left: 60px;
  padding-right: 60px;
}

.card{
  background: white;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px; /* distance within the box*/
  box-shadow: 5px 5px 5px #85999b;
}

.button {
  background-color: #006D77;
  border: none;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 120px;
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: none;
}

.button_text {
  color: white;
  font-size: 16px;

}

.footer {
  margin-top: 20px; /* distance from other divs*/
  margin-bottom: 20px;
  padding-top: 3px;
  padding-bottom: 20px;
}

h1 {
  color: #006D77;
  font-size: 30px;
}

h3 {
  font-size: 15px;
}

h4 {
  color: #006D77;
}

#list {
  color: #006D77;
}

p {
  font-size: 14px;
}

.logo {
  font-size: 60px;
  color: #5a9497;
  padding-right: 7px;
  padding-left: 7px;
  margin-bottom: 200px;
}

a {
  text-decoration: none;
}

a:hover.logo {
  color: #006D77;
}

a:hover {
  text-decoration: underline;
}
